body{
    .el-menu{
        border-right: 0;
        .el-submenu__title{
            height: torem(40);
            line-height: torem(40);
            background: rgba(255, 255, 255, 0.03) !important;
            .el-icon-arrow-down{
                color:#fff;
            }
        }
        .el-submenu{
            .el-menu-item{
                height: torem(40);
                line-height: torem(40);
            }
            .is-active{
                background: rgba(255, 255, 255, 0.06) !important;
                border-left: torem(3) solid $color-a;
            }
        }
    }

    div.div_page_index{
        .uk-button-primary{
            background-image: linear-gradient(to right, #5660ff, #8a5efb) !important;
            color:#fff;
            border: 0;

            &:hover{
                background-image: linear-gradient(to right, #838afc, #9168f8) !important;
            }
        }

    }
}
