$theme-color:#7750c6;


$background-color-dark:#3a3c4d;
$background-color-day:#fff;

$font-color-dark:#fff;
$font-color-day:#000;

$color-text:#000;


$color-text-l-dark: rgba(255, 255, 255, 0.8);
$color-text-l-day: rgba(0, 0, 0, 0.7);

$color-text-l: rgba(0, 0, 0, 0.5);

$color-text-d-day: rgba(0, 0, 0, 0.6);
$color-text-d-dark: rgba(255, 255, 255, 0.5);


$color-background-d:#fff;
$color-background-d-dark:#2c3036;
$color-background-d-day:#EEF0F2;

$color-background:#fff;

$color-background-l-day:#EEF0F2;
$color-background-l-dark:rgba(255,255,255,0.3);


$white-bg-d:rgba(255, 255, 255, 0.1);
$white-bg-l:rgba(255, 255, 255, 0.5);
$white-bg-l-l:rgba(255, 255, 255, 0.8);

$color-black-backgroud-l:rgba(0,0,0,0.2);

$color-highlight-background: #595959;
$color-text-d:rgba(0, 0, 0, 0.8);


$color-text-ll: rgba(255, 255, 255, 0.8);

$color-text-black:#000;

$color-text-blue:#7c91c1;

$color-a:#7750c6;