.page-home{
    .rank-xdrop-container{
        position: relative;
        display: inline-block;
        margin-top: 1.2rem;
    }
    .menu-rank-xdrop{
        $rem: torem(56);
        position: absolute;
        top: (-$rem);
        left: 0.3rem;
        .div-border{
            display: none;
        }
        .OMenu {
            width: torem(400);
            height: torem(56);
        }
        .item{
            flex: 1;
            position: relative;
            width: torem(200);
            height: torem(56);
            margin: 0;
            border-radius: torem(16) torem(16) 0px 0px;
            border-top: torem(1) solid rgba(255, 255, 255, 0.4);
            border-bottom: 0 !important;
            border-left: torem(1) solid rgba(255, 255, 255, 0.4);
            border-right: torem(1) solid rgba(255, 255, 255, 0.4);
            .btn{
                color: #7B7C8A;
                font-size: torem(22);
            }
            &.active{
                // border-color: transparent;
                background: #634DEF linear-gradient(229deg, #1EDEFF 0%, rgba(95, 88, 241, 0.96) 69%, #654CF0 100%);
                .btn{
                    color: #FFFFFF;
                }
            }
        }
    }
    .xdrop-content{
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 0.3rem !important;
    }
    .xdrop-list{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0 0.12rem;
        min-height: 11.92rem;
    }
}
.xdrop-title{
    font-size: 0.18rem;
    font-family: TypoPRO-Montserrat-BlackItalic, TypoPRO-Montserrat;
    font-weight: normal;
    color: #FFFFFF;
    line-height: 0.22rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.avatar-name{
    display: flex;
    align-items: center;
    padding: 0.08rem 0 0.12rem;
    .avatar{
        width: 0.24rem;
        height: 0.24rem;
        border-radius: 50%;
        margin-right: 0.08rem;
    }
    .name{
        font-size: 0.14rem;
        font-family: Sora-Medium, Sora;
        font-weight: 500;
        color: #7B7C8A;
    }
}
.wining-rate{
    font-size: 14px;
    font-family: Sora-Regular, Sora;
    font-weight: 400;
    color: #7B7C8A;
    line-height: 18px;
    padding-bottom: 0.08rem;
}
.wining-rate-line{
    display: flex;
    align-items: center;
    padding-bottom: 0.12rem;
    font-size: 0.14rem;
    font-family: Sora-Medium, Sora;
    font-weight: 500;
    color: #FFFFFF;
    span{
        width: 0.08rem;
        height: 0.08rem;
        border-radius: 50%;
        margin-right: 0.06rem;
        background: #FFFFFF;
    }
}

._webx-asset-full {
  overflow: hidden;

  .el-dialog {
    width: 100%;
    height: 100%;
    box-shadow: none;
    background: transparent;
    margin-top: 0 !important;
    .el-dialog__header {
      padding: 0 !important;
    }
    .el-dialog__title {
      display: none;
    }
    .el-dialog__headerbtn {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: rgba(54, 45, 44, 0.75);
      right: 32px;
    }
    .el-icon-close {
      color: #ffffff !important;
    }
    .el-dialog__body {
      // width: 100%;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      padding: 30px 0 !important;
      justify-content: center !important;
      align-items: center;
    }
    ._nft-asset-full {
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
